.iiif2pdf {
  margin:12px;
  font-family:sans-serif;
  font-size: 14px;
  padding:4px;
}

progress.iiif2pdf {
  width:80%;
}

#iiif2pdf_hint {
  color: #aa4433;
  display: inline-block;
  max-width: 600px;
  line-height: 1.5em;
}